[Unit]
Description=doomtown webserver
After=network-online.target

[Service]
ExecStart=/usr/bin/tclsh /home/dietpi/doomtown-cc/src/main.tcl \
  --port 80 \
  --db /srv/doomtown/doomtown.sqlite \
  --files /srv/doomtown/
WorkingDirectory=/home/dietpi/doomtown-cc/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dietpi

[Install]
WantedBy=multi-user.target